.highlight-json, .highlight-json-schema {
	background-color: #F4F4E8;
	border: 1px solid #888;
	border-radius: 5px;
	padding: 0.5em;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 13px;
	margin-left: 8%;
	margin-right: 8%;
}

.highlight-json-punctuation {
	font-weight: bold;
}

.highlight-json-null, .highlight-json-true, .highlight-json-false {
	font-weight: bold;
}

.highlight-json-true {
	color: #080;
}

.highlight-json-false {
	color: #800;
}

.highlight-json-object-key {
	color: #246;
}

.highlight-json-keyword {
	font-weight: bold;
	color: #036;
}

.highlight-json-number {
	font-weight: bold;
	color: #660;
}

.highlight-json-string {
	color: #800;
}

.highlight-json-schema-map .highlight-json-object-key {
	color: #080;
	font-style: italic;
}
