body {
	padding: 0;
	margin: 0;
	background-color: #F8F8F0;
	background-image: URL('background-blue.png');
	background-repeat: repeat-x;
	font-family: Trebuchet MS, sans-serif;
	font-size: 0.9em;
}

h1 {
	border-bottom: 1px solid black;
	margin: 0;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
}

h2 {
	font-size: 1.5em;
	border-bottom: 1px solid #BBB;
	margin-top: 1em;
	margin-bottom: 0;
	padding-left: 2.5em;
}

h3 {
	font-size: 1em;
	padding: 0;
	margin: 0;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #CCC;
	background-color: rgba(164, 164, 164, 0.5);
}

.tagline {
	text-align: center;
	font-style: italic;
}

#content {
	border: 2px solid #888;
	border-top: none;
	padding-bottom: 1em;
	margin-bottom: 1.5em;
	background-color: #F8F8FF;
	background-color: rgba(248, 248, 255, 0.5);
	background-image: URL('background-grey.png');
	width: 900px;
	text-align: left;
}

.box {
	margin-top: 1em;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #F4F4F4;
	background-image: URL('background-grey.png');
	border: 1px solid black;
}

.box p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#nav {
	padding-left: 1em;
}

.nav-link + .nav-link:before {
	content: " > ";
	color: black;
}

.resource-list {
	margin: 1em;
	padding: 1em;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid #888;
	background-color: #F8F8F8;
	color: #444;
}

.section {
	margin-left: 1em;
	margin-right: 1em;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: #06C;
	text-decoration: none;
}

a:hover {
	color: #08F;
}

code, .code {
	padding-left: 0.3em;
	padding-right: 0.2em;
	color: #000;
	font-size: 1.1em;
	line-height: 1.1em;
	background-color: #EEE;
	border: 1px solid #CCC;
	border-radius: 3px;
}

.example {
	display: block;
	width: 80%;
	margin-left: 10%;
	border: 2px solid #444;
	border-radius: 3px;
	background-color: #FFF;
}

.example.code {
	background-color: #EEE;
	border: 2px solid #444;
	line-height: 1.2em;
}

.filename {
	font-family: monospace;
	font-weight: bold;
}

