[submodule "tests/tests/10 - Schema matching (validation)/test-suite"]
	path = tests/tests/10 - Schema matching (validation)/test-suite
	url = https://github.com/json-schema/JSON-Schema-Test-Suite.git
