body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #EEE;
}

.facebook-button {
	display: inline;
	display: inline-block;
	padding: 0.3em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0.5em;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #468;
	color: #FFF;
}

.facebook-user {
	background-color: #EEE;
}

.facebook-user-picture {
	float: left;
	margin: 0.5em;
	border: 2px solid black;
	border-radius: 8px;
}

.facebook-user-name {
	padding-top: 0.2em;
	font-size: 1.5em;
	background-color: #CDE;
	border-bottom: 2px solid #888;
}

.facebook-user-update-time {
	padding-left: 5em;
	background-color: #FFF;
	font-style: italic;
	font-size: 0.9em;
}

.facebook-user-tabs {
	background-color: #FFF;
	padding-left: 1em;
	z-index: -1;
	line-height: 1.4em;
}

.facebook-user-tab {
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
	margin-right: -2px;
	border: 2px solid black;
	border-bottom: none;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-color: #BBB;
	position: relative;
	top: 4px;
	overflow: hidden;
	color: black;
}

.facebook-user-tab:hover {
	background-color: #CCC;
	color: #48B;
}

.facebook-user-tab.selected {
	background-color: #EEE;
	z-index: 2;
	color: #048;
}

.facebook-user-tab-content {
	position: relative;
	border-top: 2px solid black;
	background-color: #EEE;
	z-index: 1;
}

.facebook-user-section-title {
	margin-top: 0.8em;
	font-weight: bold;
	margin-left: 1em;
	margin-right: 1em;
	border-bottom: 1px solid #888;
}

.facebook-user-section {
	display: block;
	margin-left: 5em;
}
