.link {
	color: #05C;
}

.link:hover {
	color: #07F;
	text-decoration: underline;
}

/****** Prompt *******/

.prompt-outer {
	display: inline;
	position: relative;
	text-align: center;
	position: absolute;
	left: 10%;
	width: 80%;
	z-index: 1000;
}

.prompt-inner {
	display: inline-block;
}

.prompt-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	background-color: #000;
	padding-left: 15%;
	padding-right: 15%;
	background-color: rgba(100, 100, 100, 0.3);
	background-image: URL('images/background-stripe.png');
}

.prompt-box {
	position: relative;
	text-align: left;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	padding: 1em;
	padding-bottom: 1.5em;
	padding-top: 0.5em;
}

.prompt-box h1 {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	border: none;
	border-bottom: 1px solid black;
	margin: 0;
}

.prompt-box h2 {
	color: #666;
	text-align: center;
	font-size: 1.1em;
	font-style: italic;
	border: none;
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
}

.prompt-buttons {
	position: relative;
	top: -13px;
	border: 2px solid black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

/************ Dialog *************/

.dialog-anchor {
	position: relative;
	height: 1em;
}

.dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(100, 100, 100, 0.5);
	background-image: URL('images/background-stripe.png');
	opacity: 0.3;
}

.dialog-box {
	position: absolute;
	top: -0.1em;
	left: -0em;
	width: auto;
	height: auto;
	padding: 0.3em;
	padding-top: 1.3em;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 3px 5px rgba(0, 0, 0, 0.3);
	min-width: 100px;
	z-index: 1000;
}

.dialog-title {
	display: block;
	margin: -0.3em;
	margin-top: -1.3em;
	margin-bottom: 0.3em;
	padding-left: 3em;
	padding-right: 3em;
	background-color: #EEE;
	border-bottom: 2px solid black;
	font-weight: bold;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	white-space: pre;
}

.dialog-close {
	position: absolute;
	display: block;
	top: 0;
	left: 0.2em;
	font-weight: normal;
	font-size: 0.8em;
	font-family: Verdana;
}

/************ Buttons *************/

.button {
	display: inline;
	color: #444;
	font-weight: bold;
	text-decoration: none;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: 1px solid #888;
	border-radius: 3px;
	background-color: #DDD;
	background-image: URL('images/background-fade.png');
	background-repeat: repeat-x;
	background-position: top;
}

.button:hover {
	color: #222;
	background-image: URL('images/background-fade-bold.png');
}

.button.link {
	color: #05C;
	background-color: #E0E8F0;
	background-image: none;
}

.button.link:hover {
	color: #07F;
	background-color: #E8F0F8;
	background-image: none;
}

.button.action {
	color: #000;
	background-color: #F0B870;
	background-image: none;
	font-weight: bold;
	border-width: 2px;
}

.button.action:hover {
	background-color: #FCC47C;
}

.button.disabled, .button.disabled:hover {
	border-color: #CCC;
	color: #888;
	background-color: #EEE;
	background-image: none;
}