.jsonary .loading {
	margin: 0px;
	padding: 15px;
	margin-left: 15px;
	margin-right: 15px;
	background-image: url('images/loading.gif');
	background-position: middle;
	background-repeat: no-repeat;
}

.jsonary .link {
	color: #05C;
}

.jsonary .link:hover {
	color: #07F;
	text-decoration: underline;
}

.jsonary .jsonary-action, .jsonary a.jsonary-action {
	text-decoration: none;
}

.jsonary .error, .jsonary .warning {
	border: 1px solid;
	border-radius: 3px;
	font-size: 0.8em;
	padding: 0.3em;
	padding-left: 25px;
	padding-right: 0.5em;
	background-position: 3px 50%;
	background-repeat: no-repeat;
}

.jsonary .warning {
	border-color: #DBB;
	background-color: #F8F8F0;
	color: #820;
	background-image: url('images/warning.png');
}

.jsonary .error {
	border-color: #DCB;
	background-color: #F8F0F0;
	color: #800;
	background-image: url('images/error.png');
}

/****** Prompt *******/

.jsonary .prompt-outer {
	display: inline;
	position: fixed;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 5%;
	z-index: 10000;
	overflow: auto;
	background-color: #CCC;
	background-color: rgba(100, 100, 100, 0.3);
	background-image: URL('images/background-stripe.png');
}

.jsonary .prompt-inner {
	display: inline-block;
}

.jsonary .prompt-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.jsonary .prompt-box {
	position: relative;
	text-align: left;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	padding: 1em;
	padding-bottom: 1.5em;
	padding-top: 0.5em;
}

.jsonary .prompt-box h1 {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	border: none;
	border-bottom: 1px solid black;
	margin: 0;
}

.jsonary .prompt-box h2 {
	color: #666;
	text-align: center;
	font-size: 1.1em;
	font-style: italic;
	border: none;
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
}

.jsonary .prompt-buttons {
	position: relative;
	top: -13px;
	border: 2px solid black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.jsonary .prompt-buttons-top {
	padding: 0.3em;
	text-align: center;
}

/************ Dialog *************/

.jsonary .dialog-anchor {
	position: relative;
	height: 1em;
}

.jsonary .dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	background-color: #000;
	padding-left: 15%;
	padding-right: 15%;
	background-color: rgba(100, 100, 100, 0.2);
	background-image: URL('images/background-stripe.png');
	z-index: 1000;
	opacity: 0.5;
}

.jsonary .dialog-box {
	position: absolute;
	top: -0.1em;
	left: -0em;
	width: auto;
	height: auto;
	padding: 0.3em;
	padding-top: 1.3em;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 3px 5px rgba(0, 0, 0, 0.3);
	min-width: 100px;
	z-index: 1001;
}

.jsonary .dialog-title {
	display: block;
	margin: -0.3em;
	margin-top: -1.3em;
	margin-bottom: 0.3em;
	padding-left: 3em;
	padding-right: 3em;
	background-color: #EEE;
	border-bottom: 2px solid black;
	font-weight: bold;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	white-space: pre;
}

.jsonary .dialog-close {
	position: absolute;
	display: block;
	margin: 0;
	top: 0;
	left: 0;
	font-weight: normal;
	font-size: 0.8em;
}

.jsonary .dialog-close.button, .jsonary .dialog-close .button {
	margin: 0;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

/************ Inputs *************/

.jsonary input[type=text] {
	border: 1px solid;
	background-color: #FFF;
	border-radius: 3px;
	border-color: #CCC;
	border-top-color: #A6A6A6;
	border-bottom-color: #DDD;
}

.jsonary textarea, .jsonary select, .jsonary textarea:hover, .jsonary select:hover {
	border: 1px solid;
	background-color: #FFF;
	border-radius: 3px;
	border-color: #BBB;
	border-top-color: #AAA;
	border-bottom-color: #CCC;
	
}

.jsonary select {
	box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05), 1px 0px 0px rgba(0, 0, 0, 0.025), 0px 1px 0px rgba(255, 255, 255, 0.5), -1px 0px 0px rgba(255, 255, 255, 0.25);
}

.jsonary select:hover {
	box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1), 1px 0px 0px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(255, 255, 255, 0.5), -1px 0px 0px rgba(255, 255, 255, 0.5);
}

/************ Buttons *************/

.jsonary .button {
	display: inline;
	text-align: center; /* in case some other class combines to make it display:block */
	color: #444;
	font-weight: bold;
	text-decoration: none;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-left: 0.3em;
	padding-right: 0.3em;

	border: 1px solid;
	border-radius: 3px;
	border-left-color: #BBB;
	border-right-color: #DDD;
	border-top-color: #F3F3F3;
	border-bottom-color: #AAA;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9), 0px 2px 4px rgba(0, 0, 0, 0.05);

	background: #E4E4E4;
	font-family: "Trebuchet MS"; /* Relatively narrow font */
	white-space: nowrap;
	cursor: pointer;
}

.jsonary .button:hover {
	color: #222;
	background: #EEEEEE;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 4px rgba(255, 255, 255, 1), 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.jsonary .button:active {
	background-color: #E0E0E0;
	border-left-color: #C8C8C8;
	border-right-color: #DDD;
	border-top-color: #E8E8E8;
	border-bottom-color: #BBB;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 4px rgba(255, 255, 255, 0.7), 0px 2px 3px rgba(0, 0, 0, 0.05);
}

.jsonary .button.link {
	color: #05C;
	background-color: #E0E8F0;
}

.jsonary .button.link:hover {
	color: #07F;
	background-color: #E8F0F8;
	background-image: none;
}

.jsonary .button.action {
	color: #000;
	background-color: #F0B870;
	font-weight: bold;
}

.jsonary .button.action:hover {
	background-color: #FCC47C;
}

.jsonary .button.disabled, .jsonary .button.disabled:hover {
	border-color: #DDD;
	color: #999;
	background-color: #EEE;
	cursor: default;
}