.json-schema, .json-link {
	margin-right: 0.5em;
	margin-left: 0.5em;
	border: 1px solid #DD3;
	background-color: #FFB;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #880;
	font-size: 0.85em;
	font-style: italic;
	text-decoration: none;
}

.json-link {
	border: 1px solid #88F;
	background-color: #DDF;
	color: #008;
	font-style: normal;
}

.json-raw {
	display: inline;
	white-space: pre;
}

.json-null {
	font-style: italic;
	color: #666;
}

.valid {
	background-color: #DFD;
}

.invalid {
	background-color: #FDD;
}

textarea {
	vertical-align: middle;
}

/**** JSON Object ****/

.json-object {
	width: 100%;
}

.json-object-title {
	font-weight: bold;
}

.json-object-outer {
	background-color: #FFF;
	border-radius: 3px;
}

.json-object-outer > legend {
	background-color: #EEE;
	border: 1px solid #BBB;
	border-radius: 3px;
	font-size: 0.8em;
	padding: 0.2em;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

.json-object-pair {
	margin-bottom: 0.3em;
}

.json-object-key {
	padding: 0;
	vertical-align: top;
	width: 4em;
}

.json-object-key-text, .json-object-key-title {
	text-align: right;
	font-style: italic;
	padding-right: 0.5em;
	border-right: 1px solid #000;
	white-space: pre;
}

.json-object-key-title {
	font-weight: bold;
	font-style: normal;
	min-height: 1.2em;
}

.json-object-value {
	padding-left: 0.5em;
	vertical-align: top;
}

.json-object-delete-container, .json-array-delete-container {
	position: relative;
	vertical-align: top;
	padding-left: 1.2em;
}

.json-object-delete, .json-array-delete {
	position: absolute;
	left: 0;
	top: 0;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	color: #F00;
	text-decoration: none;
	margin-right: 1em;
	opacity: 0.5;
	transition: opacity 0.05s ease-in;
	text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.7), 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.json-object-delete:hover, .json-array-delete:hover {
	opacity: 1;
}

.json-object-delete-value {
}

.json-object-add {
	display: block;
	padding-left: 2.2em;
	color: #888;
	font-size: 0.9em;
}

.json-object-add-key, .json-object-add-key-new {
	text-decoration: none;
	margin-left: 1em;
	color: #000;
	border: 1px solid #888;
	background-color: #EEE;
}

.json-object-add-key-new {
	border: 1px dotted #BBB;
	background-color: #EEF;
	font-style: italic;
}

.json-select-type-dialog-outer {
	position: relative;
}

.json-select-type-dialog {
	position: absolute;
	top: -0.65em;
	left: -0.5em;
	width: 12em;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	padding: 0.5em;
	z-index: 1;
	opacity: 0.95;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.json-select-type-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: URL('images/background-stripe.png');
}

.json-select-type {
	font-family: monospaced;
	font-weight: bold;
	font-size: 0.8em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

/**** JSON Array ****/

.json-array {
}

.json-array-item {
	display: block;
}

.json-array-add {
	display: block;
	padding-left: 2.2em;
	color: #000;

	font-family: monospace;
	font-style: normal;
	font-weight: bold;
	color: #00F;
	text-decoration: none;
	margin-right: 1em;
}

/**** String ****/

.json-string {
	white-space: pre-wrap;
	border-radius: 3px;
	font-size: inherit;
}

.json-string-content-editable {
	display: inline;
	display: inline-block;
	vertical-align: text-top;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.95);
	outline: 1px solid #BBB;
	outline: 1px solid rgba(0, 0, 0, 0.05);
	color: #444;
	margin: 0.1em;
	padding: 0.3em;
	font-family: inherit;
	text-shadow: none;
	font-size: 0.9em;
	line-height: 1.2em;
	min-width: 5em;
	min-height: 1.2em;
	max-height: 20em;
	overflow: auto;

	border: 1px solid;
	background-color: #FFF;
	border-radius: 3px;
	border-color: #CCC;
	border-top-color: #A6A6A6;
	border-bottom-color: #DDD;
}

.json-string-content-editable:focus {
	color: #000;
	border-color: #48C;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.json-string-content-editable p {
	display: block !important;
	margin: 0px !important;
	padding: 0px !important;
}

.json-string-content-editable * {
	position: static !important;
	margin: 0px !important;
	padding: 0px !important;
	font-size: inherit !important;
	font-family: inherit !important;
	color: #000 !important;
	background: none !important;
	border: none !important;
	outline: none !important;
	font-weight: normal !important;
	font-style: normal !important;
	text-decoration: none !important;
	text-transform: none !important;
	font-variant: normal !important;
	line-height: 1.2em !important;
}

textarea.json-string {
	font-size: inherit;
	font-weight: inherit;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.5);
	width: 30%;
}

.json-string-notice {
	color: #666;
	margin-left: 0.5em;
}

/**** Number ****/

.json-number {
	font-family: monospace;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
}

input.json-number-input {
	width: 3em;
	text-align: center;
	font-family: Trebuchet MS;
	font-weight: bold;
}

.json-number-increment, .json-number-decrement {
	font-family: monospace;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/**** Boolean ****/

.json-boolean-true, .json-boolean-false {
	font-family: monospace;
	color: #080;
	font-weight: bold;
	text-decoration: none;
}

.json-boolean-false {
	color: #800;
}

/**** Undefined ****/

.json-undefined-create {
	color: #008;
	text-decoration: none;
}

.json-undefined-create:hover {
	color: #08F;
}

/**** Prompt ****/

.prompt-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	background-color: #000;
	padding-left: 15%;
	padding-right: 15%;
	background-color: rgba(100, 100, 100, 0.5);
}

.prompt-buttons {
	background-color: #EEE;
	border: 2px solid black;
	text-align: center;
	position: relative;
}

.prompt-data {
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;	
	position: relative;
}
