.json-tag-list {
	border: 1px solid #888;
	border-radius: 3px;
	background-color: #EEE;
}

.json-tag-list-current {
	width: 100%;
	overflow: auto;
	position: relative;
	padding: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #888;
	border-radius: 3px;
	background-color: #FDFDFD;
}

.json-tag-list-entry {
	display: block;
	float: left;
	margin: 2px;
	padding: 1px;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #F0F2F8;
	border: 1px solid #CCD;
	border-radius: 3px;
}