/*make select box readable*/
.json-object, select {
    font-size: medium;
}

.json-object-key {
    background-color: #eaeaea;
    vertical-align: middle;
}

/* make "+ property" to behave like dijit Buttons */
.json-undefined-create {
    border: 1px solid #759dc0;
    padding: 2px 4px 4px 4px;
    color: #000000;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #bcd8f4;
    background-repeat: repeat-x;
    background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);

    font-size: x-small;
}

.json-undefined-create:hover {
    background-color: #86bdf2;
    color: #000000;
    transition-duration: 0.2s;
    text-decoration: none;
}

/*trick to make top alignement look better*/
.json-object-key-text {
    /*margin-top: 4px;*/
}

/*tricky font-family MUST be set since it is copied witch getComputedStyle, this is js standard...*/
.json-string {
    font-family: Times;
}

.json-object-key-text {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    border: none;
    padding-right: 0.5em;
    padding-left: 0.5em;
    white-space: pre;
}

.json-object-delete-container {
    padding-left: 2em; /* adjust this padding if size of img in .json-object-delete-* changes */
    /*see below for the "better" variant*/

}

.json-object-delete {
    background-image: url(./minus-32.png); /* shows image */
    height: 32px; /* be sure to set height & width */
    width: 32px;
    background-repeat: no-repeat;
    /*background-color: #a7a2a2; enable this to see object deletes*/
    /*background-position: center;*/

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    /*from default*/

    position: absolute;
    left: 0;
    top: 0;

    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    color: #F0F;
    text-decoration: none;
    margin-right: 1em;
}

.json-array-delete {
    background-image: url(./minus-32.png); /* shows image */
    height: 32px; /* be sure to set height & width */
    width: 32px;
    background-repeat: no-repeat;
    /*background-position: center;*/

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    /*from default*/

    position: absolute;
    left: 0;
    top: 0;

    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    color: #F0F;
    text-decoration: none;
    margin-right: 1em;
}

/* adptive-table.js uses json-array-table */
.json-array-table  > thead > tr > th {
    background-color: #eaeaea;
    text-align: left;
    color: black;
    font-style: normal;
    font-weight: bold;

    border: none;
    border-left-color: white;
    border-left-style: solid;
    bordr-left-width: 2px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    white-space: pre;

}

.json-array-table > thead > tr > th a {
    color: black;
}

/*.json-object .json-array-table th:first-child {*/
/*background-color: transparent;*/
/*}*/

.json-table-object-delete {
    background-image: url(./minus-32.png); /* shows image */
    display: block;
    height: 32px; /* be sure to set height & width */
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.json-array-add {
    background-image: url(./plus-32.png); /* shows image */
    display: block;
    height: 32px; /* be sure to set height & width */
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* draw border for the array-table start */
.json-array-table >tbody >tr >td {
    border: none;
}

.json-array-table {
    border: 1px solid #ddd;
    padding: 2px;
    display:inline-block;
}


/*arrays start*/
.json-object-value {
    border-collapse: collapse; /* TODO: see if this has side effects or have to restrict this only if json-array-item follows ...*/
}

.json-array-item {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: auto;
    display: table-row; /* border disappears if json-object-value doesn't have border-collapse:collapse*/
}

.json-array-item .json-array-value {
    /* add some spacing to arrays*/
    display: block; /*nedded*/
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.json-array-item:first-of-type {
    border-top: 1px solid #ddd;
}

.json-array-item:last-of-type {
    border-bottom: 1px solid #ddd;
}

.json-array-item:nth-of-type(even) {
    background-color: #f2f6fa;
}

/*arrays end*/

.json-array-table  tr:nth-of-type(even) {
    background-color: #f2f6fa;
}

.json-array-table-add  a{
    background-image: url(./plus-32.png); /* shows image */
    background-position: left;
    padding-left: 0.1em;
    display: block;
    height: 32px; /* be sure to set height & width */
    width: 100%;
    background-repeat: no-repeat;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: white;
}
/*.json-array-table > tbody > tr > td :last-child {*/
    /*padding: 0px; *//* needed for pixel perfect of above*/
/*}*/


.json-object-add-key, .json-object-add-key-new {
    padding: 2px;
}

.json-object-add {
    margin: 8px;
}

/* "better" variant ; positioning of delete icons ??????*/
/* adjust all of this if size of img in .json-object-delete-* changes */
.json-object-delete {
    left: -3.4em;
}
.json-array-table .json-object-delete {
    left: 0.5em;
}

.json-object-delete-container {
    padding-left: 0em;
}

.json-mode-edit .json-object-key {
    padding-right: 2em;
}

.json-array-delete {
    position: inherit; /* override absolute !!*/
    display: inline-block;
}

@media (min-width: 1140px) {
    /* if bigger than shrink zoom (default means iPad), son inside this we have the normal one */
    .json-object-delete, .json-array-delete, .json-table-object-delete, .json-array-add, .json-array-table-add {
        zoom: 60%
    }

    /* adjust all of this if size of img in .json-object-delete-* changes */
    .json-object-delete {
        left: -4em;
    }

    .json-array-table .json-object-delete {
        left: 1em;
        top: 1em;
    }

    .json-object-delete-container {
        padding-left: 0em;
    }

    .json-mode-edit .json-object-key {
        padding-right: 1.6em;
    }

}

/* name title handling start */
/* since now we have both the name of the key ----> json-object-key-title (!!!) and the title -----> json-object-key-text (!!!!!) we have to hide the key if there is a title*/
/*key-title is disabled*/
.json-object-key .json-object-key-title {
    display: none;
}

/*but when it is the only child it is enabled*/
.json-object-key-title:only-child {
    display: block;
}

/* name title handling end */

/*make fieldset disapear */
.json-object-outer {
    border: none;
    display: inline-block;
}

.json-object-outer legend {
    display: none;
}

/* Validation*/
.validation-error {
    color: red;
    font-weight: bold;
    display: list-item;
    list-style-type: none;
}