.demo-code {
	margin: 0.5em;
}

.demo-code-input {
	border: 2px solid #666;
	border-radius: 10px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	padding: 0.25em;
	font-family: sans-serif;
	background-color: #FFF;
}

.demo-code-input-pair {
	clear: both;
}

.demo-code-input .ace_editor {
	font-size: inherit;
}

.demo-code-input-title {
	float: left;
	width: 75px;
	font-weight: bold;
	text-align: right;
	font-size: 0.8em;
	padding: 0;
	padding-top: 0.4em;
}

.demo-code-javascript, .demo-code-html {
	margin-left: 80px;
	padding: 0.25em;
	position: relative;
	font-family: monospace;
}

.ace-editor-container {
	width: 100%;
	position: relative;
	height: 5em;
}

.demo-code-result {
	border: 2px solid #888;
	border-top: none;
	border-bottom-color: #BBB;
	background-color: #DDD;
	margin: 0;
	margin-left: 1em;
	margin-right: 1em;
	padding: 0.5em;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.demo-code-console {
	border: 2px solid #888;
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #EEE;
	margin: 0;
	margin-left: 1em;
	margin-right: 1em;
	padding: 0.5em;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.demo-code-console-line, .demo-code-console-error {
	position: relative;
	padding-left: 2em;

	white-space: pre-wrap;
	font-family: monospace;
}

.demo-code-console-line-mark {
	position: absolute;
	left: 0.5em;
	font-weight: bold;
}

.demo-code-console-error {
	color: red;
}

.ace-editor {
	width: 100%;
	height: 100%;
}