body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #EEE;
	font-size: 0.9em;
}

.facebook-button {
	display: inline;
	display: inline-block;
	padding: 0.3em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0.5em;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #468;
	color: #FFF;
}

.facebook-array-next {
	text-align: center;
	margin: 0.3em;
	padding: 0.3em;
	border: 1px solid #008;
	background-color: #DEF;
	border-radius: 10px;
	color: #008;
}

.facebook-array-next:hover {
	border: 1px solid #048;
	background-color: #F0F8FF;
	color: #06C;
}

