body {
	background-color: #D5D0C8;
	background-image: url('page-background.png');
	margin: 0em;
	margin-right: 0.3em;
	padding: 0.3em;
	padding-top: 12px;
	padding-bottom: 12px;
	
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: 0.9em;
	color: #222;
}

#logo-container {
	position: relative;
	width: 1px;
}

#logo {
	position: absolute;
	right: 5px;
	top: -30px;
	height: 75px;
	width: 75px;
}

#top-fade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 110px;
	
	z-index: -1;
	opacity: 0;

	transition-duration: opacity 2s;
}

@media only screen and (min-width: 920px) {
	#top-fade {
		background-image: url('top-fade.png');
		background-position: top;
		background-repeat: repeat-x;
	
		opacity: 1;
		transition-duration: 2s;
	}
}

a {
	color: #8F4040;
	text-decoration: none;
}

a:hover {
	color: #6C1313;
	text-decoration: underline;
}

table, tr, td {
	font-size: inherit;
}

/* Header */

#page-title {
	margin: 0;
	width: 100%;
	border: 3px solid black;
	line-height: 48px;
	border-top-left-radius: 23px;
	border-top-right-radius: 23px;

	background-color: #810000;
	background-image: url('h1-background.png');
	background-position: middle;
	background-repeat: repeat-x;

	text-align: center;
	color: white;
	text-shadow: 0px 0px 5px #000;
}

#get-started-block {
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	
	border: 3px solid black;
	border-top: none;
	
	background-color: #E6E6E6;
	background-image: url('shadow-background.png');
	background-position: top;
	background-repeat: repeat-x;
	
	z-index: 1;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Layout */

#header, #info, #content {
	text-align: left;
	margin: auto;
}

@media only screen and (min-width: 700px) {
	#info {
		width: 285px;
		float: left;
	}

	#content {
		margin-left: 300px;
	}
}
/*/mediaquery*/

@media only screen and (min-width: 920px) {
	#page {
		text-align: center;
		width: 900px;
		margin: auto;
	}
}
/*/mediaquery*/

/* Info block */

.navigation {
	font-family: Helvetica, Arial, sans-serif;
}

.navigation ul {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
	line-height: 1.3em;
}

.navigation .current {
	color: #000;
	text-shadow: 0px 0px 1px #CCC;
}

.navigation h3 {
	line-height: 25px;
	background-color: #E1E1E1;
	background-image: url('h3-background.png');
	color: #000;
	text-shadow: none;
}

/* Key-value tables */

table.key-value {
	width: 100%;
	table-layout: fixed;
	border: 0;
	font-family: Helvetica, Arial, sans-serif;
}

table.key-value td.key {
	text-align: right;
	font-weight: bold;
	width: 8em;
	padding-right: 0.8em;
}

/* Content */

h2 {
	border-bottom: 3px solid black;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	margin-top: 13px;
	
	font-weight: bold;
	letter-spacing: 1px;
	color: #000;
}

.content-block, .info-block, .navigation {
	border: 3px solid black;
	margin-top: 18px;
	width: 100%;
	background-color: #FFF;
}

h3 {
	line-height: 26px;
	background-color: #801414;
	background-image: url('h3-background-red.png');
	color: #FFF;
	text-shadow: 0px 0px 4px #000;

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
}

h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #444;
	margin: 7px;
	margin-top: 1em;
}

p {
	margin: 7px;
	font-family: Helvetica, Arial, sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
}

/*
p + p {
	margin-top: 1.2em;
}
*/

/* Examples and code */

.gist {
	font-size: 12px;
	margin: 0.5em;
}

.gist .line-numbers, .gist .line-data {
	font-size: 12px;
	line-height: 14px;
}

.example {
	width: 96%;
	margin: 1em;
	margin-left: 2%;
	margin-right: 2%;
	border: 1px solid #888;
	border-radius: 3px;
	background-color: #F0EFED;
}